body {
    overflow-y: scroll;
    overflow-x: hidden;
}
body, html {
    height: 100%;
}


body {
	background-color: #969696;
	font-family: Merriweather, serif;
	text-align: center;
	padding-top: 2%;
}

header {
	margin-bottom: 20px;
}

header img {
	width: 300px;
}


.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.welcome {
	padding-left: 10%;
	padding-right: 10%;
}

.user label:first-child {
	margin-right: 20px;
}

.btn-danger {
	margin-top: 30px;
}

.error {
	font-size: 12px;
	color: red;
	font-style: italic;
}

.question-container, .results-container, .welcome {
	border: 10px solid #00b3b4;
	border-radius: 15px;
	height: 500px;
	background-color: #fff;
	box-shadow: -10px 10px 50px;
}

.radio.question {
	text-align: left;
	padding-left: 15%;
	margin: 30px 0px;
}

label {
	text-align: left;
}

.question-container:not(.current-question) {
	display : none;
}

.results-container {
	display: none;
}

.results-container h1 {
	margin: 15px 0;
}

.btn-info {
	background-color: #00b3b4;
	border-color: #00b3b4;
}

.btn-secondary {
	background-color: #969696;
	border-color: #969696;
}

.language-logo {
	width: 200px;
	margin-bottom: 30px;
}

.animated {
	animation-duration: 1s; 
}