body {
	text-align: center;
	margin-top: 20%;
}

.question-container {
	border: 10px solid black;
	height: 500px;
}

.question-container:not(.current-question) {
	display : none;
}

.results-container {
	display: none;
}